
.pageLayout {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0.5rem;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.pageTopBar {
  overflow: hidden;
  display: grid;
  height: 40px;
  grid-template-columns: max-content 1fr 1fr;
  gap: 1em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.5rem;
  align-items: center;

  a, a:visited{
    color: #333;
    text-decoration: none;
  }
}

.pageContent {
  overflow-y: auto;
  min-height: 0;
}



.pageTopBar h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.leftArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  margin-right: 3em;
}

.centerArea {
  display: flex;
  flex-direction: row;
  align-items: initial;
  justify-content: left;
}


.rightArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
