@import url(./noto-sans.css);
@import url(./noto-naskh-arabic.css);
@import url(./amiri.css);
@import url(./noto-mono.css);
@import url(./noto-serif-hebrew.css);
@import url(./apm-free-serif.css);
@import url(./freefont.css);
@import url(./linux-libertine.css);
@import url(./eb-garamond.css);
@import url(./other.css);
@import url(../fontawesome-free-5.10.1-web/css/all.css)
