/* Fonts */


@font-face {
    font-family: "DejaVu Sans";
    src: local("DejaVu Sans"),
        url(../../fonts/DejaVuSans.ttf) format("truetype");
}

@font-face {
    font-family: Scheherazade;
    src: local(Scheherazade), url(../../fonts/Scheherazade-Regular.woff);
}
@font-face {
    font-family: Ezra;
    src: local(Ezra), url(../../fonts/Ezra.woff);
}
