body {
    font-size: 11pt;
}
.app {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100dvh;
    overflow: hidden;
}

.header {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.padding-1 {
    padding: 1rem;
}

.border-1 {
    border: 1px solid silver;
}

.my-toolbar {
    background: #f5f5f5;
    padding: 5px;
}


/*.tab-panel-tab {*/
/*    padding: 5px 20px;*/
/*    color: darkgray;*/
/*    border: none;*/


/*    &.active {*/
/*        color: black;*/
/*        font-weight: bold;*/
/*        border-bottom: 2px solid #6a423b;*/
/*    }*/
/*}*/