.main-text-panel {
    padding: 1em;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;

    .main-text {
        display: grid;
        grid-template-columns: 5em 40em 5em;
        gap: 1em;
        width: auto;
        min-width: 52em;
    }
}
