
.mce-composer-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100dvh;
    overflow: hidden;


    div.header {
        height: 50px;
        padding: 0.25em;
        margin: 0;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        align-items: center;
        background-color: #f8f8f8;

        .title {
            font-size: 1.3em;
            font-weight: bold;
            text-align: center;
        }

        .controls {
            text-align: right;
        }
    }

    .panelContainer {
        padding: 0 !important;
    }
}


.preview-toolbar {
    background-color: #f5f5f5;
}

.padding-1 {
    padding: 0.25em;
}