:root {
    --tab-border-color: #cfcfcf;
}

.status-page {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100dvh;
    overflow: hidden;
    box-sizing: border-box;

    .status-page-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }

    .status-page-label {
        font-size: 1.3em;
        font-weight: bold;
    }

    .status-page-content {
        overflow: auto;
        padding: 1em;
    }
}

.mce-composer-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100dvh;
    overflow: hidden;
    box-sizing: border-box;

    .header {
        padding: 5px;
        display: grid;
        grid-template-columns: max-content max-content 1fr max-content;
        align-items: center;
        gap: 1em;
        box-sizing: border-box;

        .logo {
            padding-right: 2em;
        }

        .title {
            font-size: 1.3em;
            font-weight: bold;
        }

        .notifications {
            display: flex;
            flex-direction: row;
            gap: 1em;
            justify-content: flex-end;
            align-items: center;
            color: #dd8806;

            .chunk-progress-bar {
                border-radius: 5px;
                border: 1px solid silver;
                color: gray;

                .progress-bar-fill {
                    background: #dddddd;
                }
            }

            .edition-generation-progress-bar {
                border-radius: 5px;
                border: 1px solid silver;
                color: #954646;

                .progress-bar-fill {
                    background: #dddddd;
                }
            }
        }

        .editing > .textInput {
            font-weight: normal;
            font-size: 0.9em;
        }

        .controls {
            text-align: right;
            font-size: 20px;
            padding-right: 0.5em;
        }
    }

    .panelContainer {
        padding: 0 !important;
    }

}

.mce-composer-container.expanded {

    .header {
        border-bottom: 1px solid #dddddd;
    }

    .tab-name {
        font-size: 1em;
        font-weight: bold;
    }

    .expanded-tab-title-area {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;

    }

}

.preview-toolbar {
    background-color: #f5f5f5;
}

.padding-1 {
    padding: 0.25em;
}

.tb-icon {
    margin-left: 0.5em;
    cursor: pointer;
}

.tb-icon:hover {
    color: #0d6efd;
}

.tb-icon-disabled, .tb-icon-disabled:hover {
    color: gray;
    cursor: initial;
}

.tb-icon-active {
    color: #0d6efd;
}

.tab-panel-tab {
    font-size: 0.9em;
    color: #0c5460;
}


.tab-panel-tab.active {
    font-weight: bold;
    color: black;
}

.tab-panel-content-item h1 {
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.tab-panel-content-item .section {
    margin-top: 1em;
    margin-bottom: 2em;
}

.tab-panel-content-item .section-content {
    padding-left: 2em;
}


.chunks-panel {

    padding: 0 1em 1em 1em;
    height: 100%;
    overflow: auto;

    table.nice-table {
        border-collapse: separate;
        border-spacing: 0;

        th {
            padding: 2em 0.5em 1em 0.5em;
            border-bottom: 1px solid #ececec;
        }

        td {
            padding: 1em 0.5em;
        }
    }

    .chunk-table-arrows {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
    }

    .chunk-table-error {
        color: var(--danger);
    }

    .chunk-table-warning {
        color: var(--warning);
    }

    .chunk-table-control-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
        justify-content: start;
    }

    .control-button {
        cursor: pointer;
    }

    .control-button.disabled {
        color: silver;
        cursor: default;
    }

    .control-button :hover {
        color: #0d6efd;
    }

}


.main-text-panel {
    padding: 1em;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;

    .main-text {
        display: grid;
        grid-template-columns: 5em 40em 5em;
        gap: 1em;
        width: auto;
        min-width: 52em;
    }
}


.witnesses-panel {
    padding: 1em;

    .section.sigla-groups {
        margin-top: 0;
    }

}

.margin-top-0 {
    margin-top: 0 !important;
}

.popover {
    font-size: 0.9em;
    max-width: 20em;

    h3 {
        font-size: 1em;
    }

    ol {
        padding-left: 0;
        margin-left: 0.5em;
    }

    p {
        margin-bottom: 0.5em;
        padding: 0;
    }

    li {
        padding: 0;
        margin-bottom: 0.25em;
    }
}