

.preview-panel {


    .panel-toolbar {
        background: #f0f0f0;
        padding: 0.5em;

        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .toolbar-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
        }
        .center {
            justify-content: center;
        }

        .toolbar-spacer {
            width: 2em;
        }

        .right {
            justify-content: end;
        }


    }

}