

.preview-panel {


    .panel-toolbar {
        background: #f0f0f0;
        padding: 0.5em;

        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .toolbar-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
        }
        .center {
            justify-content: center;
        }

        .toolbar-spacer {
            width: 2em;
        }

        .right {
            justify-content: end;
        }

        .tb-btn {
            background: transparent;
            border: none;
            cursor: pointer;
        }

        .tb-btn:hover {
            opacity: 0.8;
        }

        .tb-btn.disabled {
            opacity: 0.5;
            cursor: default;
        }

    }

    .panel-content {
        background: #e3e3e3;
        text-align: center;
        padding: 1em
    }

}