.witnesses-panel {
    overflow: auto;
    height: 100%;
    padding: 1em;

    .section.sigla-groups {
        margin-top: 0;

        .section-content {
            display: flex;
            flex-direction: column;
            gap: 2em;

            .add-sigla-group {
                width: 10em;
            }
        }
    }
}
