:root {
    --dashboard-list-indent: 1rem;
}

div.dashboard {
    display: grid;
    height: 100%;
    grid-template-columns: max-content 1fr;
    align-items: start;
    overflow: hidden;
}

div.dashboard-contents {
    height: 100%;
    overflow-y: auto;
}

div.dashboard-anchors {
    margin-right: 2rem;
    overflow-x: hidden;
}

.dashboard h1 {
    font-size: 1.2rem;
    margin-top: 2em;
}

.dashboard h1.first {
    margin-top: 0;
}

.dashboard-list-item {
    margin: 0 0 0 var(--dashboard-list-indent);
    padding: 0.25rem;
}

.dashboard-list-item-2 {
    margin: 0 0 0 calc(3 * var(--dashboard-list-indent));
    padding: 0.1rem;
}