
div.dashboard {
    display: grid;
    height: 100%;
    grid-template-columns: max-content 1fr;
    align-items: start;
    overflow: hidden;
}

div.dashboard-contents {
    height: 100%;
    overflow-y: auto;
}

div.dashboard-anchors {
    margin-right: 2rem;
    overflow-x: hidden;
}

.dashboard h1 {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.dashboard h1.first {
    margin-top: 0;
}

.dashboard-list-item {
    margin: 0 0 0 1rem;
    padding: 0.25rem;
}