*~
/nbproject
/src/config.*.php
*.zip
/php-sessions
src/public/vendor/
src/public/config.php
/src/scratch
*.bak
/src/public/node_modules/
/src/public/log/
/src/public/downloads
/src/public/scratch/
/src/public/test/php/coverage/
.~lock*
/other/
/src/public/test/php/test.log
/src/public/utilities/out.txt
/src/public/collatex/tmp/
/src/public/test/php/tmp/
/src/public/test/php/apm/tmp/
/src/docs/
/npm-debug.log
/src/npm-debug.log
/dist/
/src/public/test/apm/tmp/c*
/src/public/package-lock.json
/src/public/js/istanbul/
/src/public/js/dist/*
/src/public/test/php/SiteMockup/testconfig.php
.idea/
/src/public/test/.*
src/public/test/php/.phpunit.result.cache
/apm.log
/src/public/test/js/functional/dist