*~
config.php
config.*.php
testconfig.php
**/*config.yaml
*.zip
*.bak
*.js.map
*.bundle.js
*.log
*.swp
/src/www/test/.*
.phpunit.result.cache
/src/www/package-lock.json
php-sessions/
**/vendor
**/scratch
**/coverage
**/dist
**/tmp
**/node_modules
**/log
**/downloads
other/
.idea/
__pycache__
src/python/*.pdf
src/typesetting-service/output*.json
src/python/venv
src/python/.idea
.DS_Store
**/public/config.js
/src/www/test/php/*config.php
/src/www/test/php/.phpunit.cache/
.run/**
/dev-logs/**
/dev-tmp/
/src/www/app-settings.json
# public may be there only in development so that vite does not complain about a missing favicon
/src/www/public/
