*~
config.php
config.*.php
testconfig.php
*.zip
*.bak
*.js.map
*.bundle.js
*.log
*.swp
/src/www/test/.*
/src/www/test/php/.phpunit.result.cache
/src/www/package-lock.json
php-sessions/
**/vendor
**/scratch
**/coverage
**/dist
**/tmp
**/node_modules
**/log
**/downloads
other/
**/docs/
.idea/
__pycache__
src/python/*.pdf
src/node/output*.json
src/python/venv
src/python/.idea
.DS_Store
**/public/config.js
/src/www/test/php/*config.php
/src/www/test/php/.phpunit.cache/
.run/**