
/* Metadata editor defaults */

.mde-section {
    margin-bottom: 1em;
}

.mde-header-name {
    /*font-size: 2em;*/
    /*font-weight: bold;*/
}

.mde-header-info {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.9em;
}

.mde-section-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    width: max-content;
}

.mde-section-list-icons .btn-sm {
    font-size: 0.6em;
}

.mde-section-body {
    margin-left: 2em;
}

.mde-predicate {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
}

.mde-predicate-logo {
    max-height: 2.5em;
    min-width: 3em;
}

.mde-predicate-list-vertical {
    display: flex;
    flex-direction: column;
}

.mde-predicate-list-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3em;
    row-gap: 3em;
    width: 100%;
}

.mde-statement-divs {
    row-gap: 0;
    column-gap: 0.5em;
}

.mde-predicate-multi {
    flex-direction: column;
}

.mde-predicate-multi .mde-statement-divs {
    margin-left: 2em;
}

.btn.edit-button {
    font-size: 0.7em;
}

b.mde-icon {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-weight: normal;
}

div.mde-statement-card {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.bpe-popover-more-info-line {
    margin-top: 1em;
}

.bpe-statement-popover.mde-statement-card {
    font-size: 0.8em;
}

.ghost {
    visibility: hidden;
}

p.bpe-popover-tagline {
    padding: 0;
    margin: 0 0 0 1em;
    font-size: 0.9em;
}

.bpe-predicate-edit {
    background: #fcfcfc;
    margin-bottom: 1em;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 0.5em;
}

.bpe-predicate-edit h1 {
    font-size: 1.2em;
    font-weight: bold;
}

.bpe-predicate-edit-attribute {
    width: 100%;
    min-width: 15em;
    max-width: 40em;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

.bpe-predicate-edit-attribute textarea {
    width: 100%;
    margin-right: 2em;
}

.bpe-predicate-edit-attribute input[type=text] {
    width: 100%;
    margin-right: 2em;
}

.bpe-cancellation-confirm-statement {
    margin-bottom: 2em;
}

.bpe-cancellation-confirm-statement .mde-statement-card {
    column-gap: 1em;
}

.bpe-popover-subtitle {
    font-weight: normal;
    font-size: 0.8em;
    margin-top: 0.2em;
}

.bpe-popover-value {
    font-family: monospace;
}

div.bpe-statement-history-div {
    max-height: 60vh;
    overflow-y: auto;
}

table.bpe-statement-history {
    margin: 1em;
}

table.bpe-statement-history td {
    padding: 0.5em;
    border: 1px solid silver;
}

table.bpe-statement-history th {
    padding: 0.5em;
    color: white;
    background: black;
    border: 1px solid black;
}

table.bpe-statement-history tr.active-statement {
    color: black;
    font-weight: bold;
}

table.bpe-statement-history tr.cancelled-statement {
    color: gray;
}

table.bpe-statement-history tr.event-creation {
    background: #fafafa;
}
