
.test-class {
    color: fuchsia;
}

table.number-table {
    margin: 1rem;
}
table.number-table td {
    text-align: right;
    padding: 5px;
    border: 1px solid #f8eaea;
}
.rank-0 {
    color: silver;
}

.rank-1 {
    color: gray;
}

.rank-3 {
    color: darkcyan;
}

.rank-4 {
    color: darkolivegreen;
}

.rank-5 {
    color: green;
}

.rank-6 {
    color: darkmagenta;
}

.rank-8 {
    color: darkred;
}

.rank-9 {
    color: red;
}

.odd-row {
    background-color: ivory;
}