# First install python3 and python3-pip via apt install – then execute sudo -H pip3 install -r requirements_lemmatization.txt

simplemma
qalsadi
setuptools
wheel
spacy
spacy-udpipe
langdetect

# Requirements for Qalsadi
future>=0.16.0
pickledb>=0.9.2
alyahmor>=0.1
libqutrub>=1.2.3
naftawayh>=0.3
pyarabic>=0.6.7
tashaphyne>=0.3.4.1
arramooz-pysqlite>=0.1