.progress-bar {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d3d3d3;
    background-color: inherit;
}

.progress-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: inherit;
}

.progress-bar-label {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    color: inherit;
}