<phpunit colors="true" processIsolation="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../classes/apm</directory>
<!--            <exclude>
                <directory suffix=".php">/path/to/files</directory>
                <file>/path/to/file</file>
            </exclude>-->
        </whitelist>
    </filter>    
    
</phpunit>