#collationtableinfo {
    margin-top: 20px;
    margin-bottom: 25px;
}

table.witnesstable {
    margin-top: 20px;
    margin-left: 20px;
}

table.witnesstable td,th {
    padding: 10px;
}

table.versioninfo {
    margin-top: 20px;
    margin-left: 20px;
}

table.versioninfo td,th {
    padding: 5px;
}

.breadcrumb {
    margin-bottom: 5px;
}


.te-table {
    border-collapse: collapse;
    margin-bottom: 3em;
}

div.edrundetails{
    font-size: 0.8em;
    margin-top: 2em;
}