
#collationtableinfo {
    margin-top: 20px;
    margin-bottom: 25px;
}

table.witnesstable {
    margin-top: 20px;
    margin-left: 20px;
}

table.witnesstable td,th {
    padding: 10px;
}

table.versioninfo {
    margin-top: 20px;
    margin-left: 20px;
}

table.versioninfo td,th {
    padding: 5px;
}

.breadcrumb {
    margin-bottom: 5px;
}


.te-table {
    border-collapse: collapse;
    margin-bottom: 3em;
}

div.edrundetails{
    font-size: 0.8em;
    margin-top: 2em;
}

.nomargin-panel {
    margin: 0;
    padding: 0;
}

.ct-toolbar {
    padding: 10px 5px;
    margin: 0 0 1em;
    background: #fbfbfb;
    color: grey;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /*border-bottom: solid 1px #e0e0e0;*/
}

.ct-toolbar.tb-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 3px;
}

a.tb-button {
    color: grey;
}

.loading {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3rem;
}

div.witness-update-div {
    margin: 2rem;

}

span.witness-update-info {
    margin-right: 2rem;
}

/* Update modal */

div.info {
    margin-bottom: 2rem;
}

.status-waiting {
    color: silver;
}

.status-running {
    color: black;
    font-weight: bold;
    transition: font-weight 250ms;
}

.status-done {
    font-weight: 200;
    color: green;
}

.status-fail {
    color: red;
}

div.changes {
    padding-left: 1rem;
    /*border: solid 1px #e0e0e0;*/
    margin: 2rem;
    max-height: 18rem;
    overflow-y: scroll;
}

div.changes h5 {
    padding: 0;
    margin: 0 0 0.5rem;
}


