:root {
    --panel-border-color: #efefef;
}

html {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fcfcfc;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #444242;
    font-size: 1.2rem;
    height: 44px;
    width: 100%;
    padding: 3px;
    border-bottom: 1px solid var(--panel-border-color);
}

div.top-bar-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

div.top-bar-title {
    font-weight: bold;
}
div.mode-icons {
    text-align: right;
}

div.logo {
    width: auto;
    padding-left: 0;
    padding-right: 3rem;
}

div.top-bar-right-area {
    text-align: right;
    padding-left: 3rem;
}

div.panels {
}
div.panels.vertical-mode{
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
}

div.panels.horizontal-mode {
    display: grid;
    grid-template-rows: 1fr 3px 1fr;
}

div.divider {
    background: var(--panel-border-color);
}

.horizontal-mode .divider {
    cursor: row-resize;
}

.vertical-mode .divider {
    cursor: col-resize;
}

.panel {
    background: white;
    padding: 3px;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: auto;
}

.top-panel {
    margin-bottom: 0;
}

.bottom-panel {
    margin-top: 0;
}

.left-panel {
    margin-right: 0;
}

.right-panel {
    margin-left: 0;
}

.top-bar-icon {
    font-weight: bold;
}