

p.property {
    margin: 0 0 0 2em;
    padding: 0;
}

table.statements {
    margin-left: 2em;
}

table.statements td {
    padding: 2px 4px;
    border: 1px solid silver;
    vertical-align: top;
}

span.literal-value  {
    font-family: monospace;
    color: #4f4f4f;
}

h3 {
    margin-top: 1em;
}

div.entity-data-dump {
    margin-top: 2em;
}

.timestamp-value {
    font-size: 0.9em;
    border-bottom: 1px dotted #c9c8c8;
}

.active-notice {
    font-size: 0.9em;
    color: green;
}

.not-editable-notice {
    font-size: 0.9em;
    color: #815d5d;
}
.not-cancellable-notice {
    font-size: 0.9em;
    color: #5d6f81;
}

tr.cancelled {
    background-color: #fafafa;
}


table.available-predicates {
    margin-left: 2em;
}

div.available-predicates {
    margin-top: 1em;
    margin-left: 2em;
}

span.edit-buttons-span .btn {
    font-size: 0.8em;
    border-color: silver;
}

div.edit-intro {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.edit-statement-grid {
    display: grid;
    grid-template-columns: 7em 1fr;
}

div.edit-statement-grid div {
    padding: 3px;
}

div.edit-label {
    font-weight: bold;
}

div.info {
    color: red;
    margin-top: 1em;
}

