div.cpheader {
    font-size: 2.4em;
    margin-bottom: 30px;
}

div.cpheader a {
    color: black;
}


.collationtablelinks ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 25px;
}

.collationtablelinks ul li {
    padding: 0;
    margin-left: 20px;
}

.collationtablelinks li.smallpadding {
    padding-bottom: 5px;
}

.btn.ct-urls-button  {
    padding-left: 2px;
    padding-right: 2px;
}

.erase-preset-warning {
    padding: 1em;
}

.button-yes, .button-no {
    border-radius: 4px;
    border: 1px solid silver;
    padding: 0.25em;
    margin: 0 0.5em;
}

.btn.disabled {
    pointer-events: none;
}

.witness-card {
    margin-bottom: 1rem;
}

.card-header p {
    margin: 0;
}

div#collationtablelinks {
    margin-bottom: 50px;
}

div#witnessListNew {
    margin-top: 50px;
    margin-bottom: 50px;
}