
/* Turn off transition in collapses */

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    /*transition: height 0.1s ease;*/
    transition: none;
}

/*  Section styles */
section{
    margin: 0.5rem 0 3rem 0;
}
section h1 {
    font-size: 1.2rem;
}

section h2 {
    font-size: 1rem;
}

article {
    margin: 0;
    padding-top: 5rem;
}

article h2 {
    padding: 0;
    margin-top: 1rem;
}

div.dashboard h1 {
    font-size: 1.2rem;
    margin-top: 2rem;
}

div.dashboard h1.first {
    font-size: 1.2rem;
    margin-top: 0;
}

div.dashboard h1.cp-header a, div.dashboard h1.cp-header a:visited {
    color: #122894;
}

div.dashboard-section-content {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

p.doc-title {
    margin-bottom: 0.25em;
}

p.page-list {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 0.9em;
}

div.chunk {
    margin-bottom: 2rem;
}

p.mce-title {
    margin-bottom: 0.25rem;
}

p.new-mce {
    margin-top:2rem;
}

div.chunk p {
    margin-bottom: 0.25rem;
}