div.doc-page {
    display: grid;
    height: 100%;
    grid-template-rows: auto auto 1fr;
}

div.doc-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.doc-info-tag {

}

div.doc-admin {

}

div.doc-admin a, a:hover {
    padding: 3px;
    /*border: 1px solid var(--very-light-gray);*/
    border-radius: 3px;
    text-decoration: none;
}

div.doc-page-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

div.left-pane{
    max-height: 80vh;
    overflow-y:auto;
    max-width: 400px;
    padding-right: 1em;
}


div.viewer-container a, div.viewer-container a:visited {
    color: inherit;
}

div.viewer-container a.btn {
    color: white;
}

div.viewer-toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


div.page-viewer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.osd-viewer {
    width: 100%;
    height: 100%;
}

div.page-info-panel {
    padding: 3em;
}

div.page-list-popover {
    background: white;
    border: 1px solid silver;
    border-radius: 4px;
    display: none;
    height: 400px;
    width: 600px;
}
div.page-list-popover[data-show] {
    display: block;
    padding: 0;
}

div.page-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.page-list-header {
    background: #eaeaea;
    border-bottom: 1px solid silver;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em;
}

div.page-list-contents {
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

div.osd-div {
    border: 1px solid silver;
    height: 100%;
    width: 100%;
}
div.page-div {
    padding: 5px;
    width: 3em;

    text-align: center;
}

div.page-big-div {
    cursor: pointer;
}

div.page-info {
    text-align: center;
    cursor: pointer;
}

span.page-info-foliation {
    font-size: 1.5em;
    font-weight: bold;
}

.foliation-not-set {
    font-style: italic;
}

.page-selected {
    border: 1px solid black;
    border-radius: 3px;
}

.without-transcription {
    color: silver
}
.type0 {
    background: #fcfcfc;
}

.type2, .type3 {
    background: #f8f8f8;
}


.out-of-sequence {
    background: #fffcf8;
}

.foliation-span {
    padding: 0.5em;

}

.foliation-span.etf-editing{
    border: none;
}

div.page-info-item {
    margin-bottom: 0.5em;
}

a.image-link {
    background: #f8f6f6;
    border-radius: 4px;
    padding: 3px;
    text-decoration: none;
    font-weight: bold;
}

span.foliation-span {
    border: 1px solid #eeeeee;
}

span.doc-info-item {
    margin-right: 2em;
}


div.doc-def-pages-page-list {
    margin-top: 2em;

}

div.page-list-page-container {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
    margin-bottom: 1em;
    align-items: center;
}


div.doc-def-pages-page-list div.page-div {
    margin-top: 0.1em;
}

.thumbnail-toggle-btn {
    border: 1px solid silver;
    padding: 3px;
    margin: 3px;
    border-radius: 4px;
    color: black;
}

.multitoggle-on {
    background: lightblue;
}