div.doc-page {
    display: grid;
    height: 100%;
    grid-template-rows: auto auto 1fr;
}


div.doc-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.doc-page-content {
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
}

div.divider {
    cursor: col-resize;
}
div.page-viewer {
    height: 100%;
    display: flex;
    flex-direction: column;
    /*min-width: 500px;*/
}


div.right-panel {
    min-width: 25%;
    display: grid;
    grid-template-rows: auto 1fr;
}

div.doc-info-tag {

}

div.doc-admin {
margin-bottom: 2em;
}

div.right-panel a.btn-primary, div.right-panel a.btn-primary:hover, div.right-panel a.btn-primary:visited {
    padding: 3px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}

div.right-panel .tab-pane {
    overflow-y:auto;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: 0.5em;
}

div.right-panel .panel-with-toolbar {
    padding:0;
}
div.panel-toolbar {
    height: 2.5em;
    background: #fafafa;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.25em;
    font-size: 0.9em;

}


div.panel-content {
    padding: 0.5em;
    overflow-y: auto;
}

div.osd-div {
    border: 1px solid #dee2e6;
}
.normal-page div.page-footer {
    margin-top: 3px;
}


.tab-pane h1 {
    font-size: 2em;
}

.tab-pane h2 {
    font-size: 1.5em;
}

div.doc-basic-data {
    margin-bottom: 1em;
}
.doc-basic-data p {
    line-height: 1em;
    padding: 0;
    margin-bottom: 0.5em;
}

div.viewer-container a, div.viewer-container a:visited {
    color: inherit;
}

div.viewer-container a.btn {
    color: white;
}

div.viewer-toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.thumbnail-selector {

}

div.osd-viewer {
    width: 100%;
    height: 100%;
}

div.page-info-panel {
    padding: 3em;
}

div.page-list-popover {
    background: white;
    border: 1px solid silver;
    border-radius: 4px;
    display: none;
    height: 400px;
    width: 600px;
    overflow-y: auto;
}
div.page-list-popover[data-show] {
    display: block;
    padding: 0;
}

div.page-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.page-admin {
    margin-top: 1rem;
}

.page-admin h3 {
    font-size: 1.3em;
}

div.page-list-header {
    background: #eaeaea;
    border-bottom: 1px solid silver;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em;
}

div.page-list-tab-pane {
    display: grid;
    grid-template-rows: auto 1fr;
}

div.page-list-right-panel {
    overflow-y: auto;
    height: 100%;
}

div.page-list-contents {
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

div.osd-div {
    height: 100%;
    width: 100%;
}
div.page-div {
    padding: 5px;
    width: 3em;

    text-align: center;
}

div.page-big-div {
    cursor: pointer;
}

div.page-info {
    text-align: center;
    cursor: pointer;
}

span.page-info-foliation {
    font-size: 1.5em;
    font-weight: bold;
}

.foliation-not-set {
    font-style: italic;
}

.page-selected {
    border: 1px solid black;
    border-radius: 3px;
}

.without-transcription {
    color: silver
}
.type0 {
    background: #fcfcfc;
}

.type2, .type3 {
    background: #f8f8f8;
}


.out-of-sequence {
    background: #fffcf8;
}

.foliation-span {
    padding: 0.5em;

}

.foliation-span.etf-editing{
    border: none;
}

div.page-info-item {
    margin-bottom: 0.5em;
}

a.image-link {
    background: #f8f6f6;
    border-radius: 4px;
    padding: 3px;
    text-decoration: none;
    font-weight: bold;
}

span.foliation-span {
    border: 1px solid #eeeeee;
}

span.doc-info-item {
    margin-right: 2em;
}


div.doc-def-pages-page-list {
    margin-top: 2em;

}

div.page-list-page-container {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
    margin-bottom: 1em;
    align-items: center;
}


div.doc-def-pages-page-list div.page-div {
    margin-top: 0.1em;
}

.thumbnail-toggle-btn {
    border: 1px solid silver;
    padding: 3px;
    margin: 3px;
    border-radius: 4px;
    color: black;
}

.multitoggle-on {
    background: lightblue;
}