:root {
    --work-page-indentation: 1.5em;
}


div.note {
    margin-bottom: 1em;

}
div.author {
    margin-left: var(--work-page-indentation);
    margin-bottom: 2em;
}

div.author h1 {
    font-size: 1.5em;
}

div.work {
    margin: 1em 0 0 var(--work-page-indentation);
}

div.work-title {
    font-size: 1.1em;
}

div.chunk-list {
    margin: 1em 0 0.5em var(--work-page-indentation);
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(2em, 1fr));
    justify-content: end;
    column-gap: 0.25em;
    row-gap: 0.25em;
}

div.chunk-list-medium {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(2.5em, 1fr));
}

div.chunk-list-large {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(3em, 1fr));
}

div.chunk-div {
    text-align: end;
}