
table.nice-table {
    border-collapse: collapse;


    th.sticky {
        position: sticky;
        background-color: white;
        top: 0; /* Makes the header stick to the top */
        z-index: 2; /* Keeps the header above the table body */
    }

    tr.odd {
        background-color: #f5f5f5;
    }

    tr.even {
        background-color: white;
    }

    td {
        padding: 0.5em;
    }

    th {
        padding: 0.5em;
    }
}

