{% extends "base.twig" %}

{% block title %}Not Authorized{% endblock %}

{% block content %}
    <div class="alert alert-danger" role="alert">
        <h1><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> Error</h1>
        <p class="lead">{{message}}</p>
    </div>
{% endblock %}