{% extends "base.twig" %}

{% block extraJS %}
    <script type="application/javascript" src="{{baseurl}}/js/dist/MetadataEditor.bundle.js"></script>

    <script>
        let mde = new MetadataEditor()
    </script>
{% endblock %}


{% block title %}Metadata Editor{% endblock %}

{% block content %}
    <h1>Metadata Editor</h1>

    <table class="dataTable" id="metadataTable"></table>
    <br>
    <div id="buttons"></div>
    <br>

{% endblock %}

{% block finalBodyJS %}
    <script>

        // Constants to store data in
        let entity = {id: 0, type: 'null', attributes: [], values: [], types: []}
        let schemes = {types: [], attributes: [], placeholders: []}
        let numAttributes = 0
        let notfirstquery = false
        let state = {create: 'creating', edit: 'editing'}
        let thead
        let tbody

        // Selectors
        let entity_id_cell
        let entity_type_cell
        let buttons =  $('#buttons')

        // Get api urls
        let urlGen = new ApmUrlGenerator('')

        const apiUrls = {
            getData: urlGen.apiMetadataEditorGetData(),
            saveData: urlGen.apiMetadataEditorSaveData(),
            createEntity: urlGen.apiMetadataEditorCreateEntity(),
            getNewId: urlGen.apiMetadataEditorGetIdForNewEntity(),
            getTypeData: urlGen.apiMetadataEditorGetTypeData()
        };

        // Setup get button
        setupGetButton()

        function setupGetButton() {

            buttons.append
            (`<button type="button" id="get_button" name="Get" style="background-color: white; padding: unset">Get Metadata</button>`)

            $("#get_button").on("click", function () {
                getMetadata(5, function() {
                    makeTable()
                    showMetadata()
                    clearButtons()
                    setupDefaultButtons()
                })
            });
        }

        function setupDefaultButtons () {

            buttons.append
            (`<button type="button" id="get_button" name="Get" style="background-color: white; padding: unset">Get Metadata</button>
                <button type="button" id="edit_button" name="Edit" style="background-color: white; padding: unset">Edit Metadata</button>
                <button type="button" id="create_button" name="Create" style="background-color: white; padding: unset">Create New Entity</button>`)

            $("#get_button").on("click", function () {
                clearData()
                getMetadata(5, function() {
                    makeTable()
                    showMetadata()
                })
            });

            $("#edit_button").on("click", function () {
                if (entity.type === 'null') {
                    console.log('Editing not possible. No entity was selected.')
                }
                else {
                    clearButtons()
                    setupInputForms(state.edit, function() {
                        setupSaveAndCancelButtons(state.edit)
                    })
                    console.log('Metadata can now be edited.')
                }
            });

            $("#create_button").on("click", function () {
                entity_id_cell.empty()
                clearButtons()
                setupInputForms(state.create, function() {
                    setupSaveAndCancelButtons(state.create)
                })
            })
        }

        function setupInputForms(mode, callback) {

            if (mode === state.create) {
                clearData()
                clearTableCells()
                removeTableRows()
                getTypeData(function() {
                    makeEntityFitToSchema(schemes.types[0])
                    makeTable()
                    getNewId(function () {
                        showId()
                    })
                    setupTypeSelector()
                    setupSelectorOptions()
                    makeAttributeForms()
                    callback()
                })
            }
            else {
                makeAttributeForms()
                fillInputForms()
                callback()
            }
        }

        function makeAttributeForms() {
            for (let i=1; i<=numAttributes; i++) {
                let selectorId = "#entity_attr" + i
                let inputId = "entity_attr" + i + "_form"
                let placeholder = entity.types[i-1]
                $(selectorId).html(
                    `<input type="text" id=${inputId} placeholder=${placeholder} style="padding: unset">`)
            }
        }

        function setupTypeSelector() {
            entity_type_cell.html(
                `<select id="entity_type_select">`)

            $("#entity_type_select").on("change", function () {
                makeEntityFitToSchema(this.value)
                clearTableCells()
                removeTableRows()
                makeTable()
                showId()
                setupTypeSelector()
                setupSelectorOptions(this.value)
                makeAttributeForms()
                console.log(`Adjusted table to chosen entity type "${this.value}".`)
            });
        }

        function setupSelectorOptions(value=schemes.types[0]) {
            let selector = $('#entity_type_select')
            $.each(schemes.types, function (i, type) {
                selector.append($('<option>', {
                    value: type,
                    text : type
                }))
            })
            selector.val(value)
        }

        function makeEntityFitToSchema(type) {
            let i = schemes.types.indexOf(type)
            entity.attributes = schemes.attributes[i]
            entity.types = schemes.placeholders[i]
            numAttributes = entity.attributes.length
        }

        function fillInputForms() {
            for (let i=1; i<=numAttributes; i++) {
                let id = "#entity_attr" + i + "_form"
                $(id).val(entity.values[i-1])
            }
        }

        function removeTableRows() {
            thead.remove()
            tbody.remove()
        }

        function makeTable() {

            if (notfirstquery) {
                removeTableRows()
            }
            else {
                notfirstquery = true
            }

            $('#metadataTable').append(`<tr id="tableHead"></tr><tr id="tableBody"></tr>`)
            thead = $('#tableHead')
            tbody = $('#tableBody')

            thead.append(`
                <th>Entity ID</th>
                <th>Type</th>`)

            tbody.append(`
                <td>
                    <div id="entity_id">
                        -
                    </div>
                </td>
                <td>
                    <div id="entity_type">
                        -
                    </div>
                </td>`)

            for (let i=1; i<=numAttributes; i++) {

                let id = "entity_attr" + i

                thead.append(`<th>${entity.attributes[i-1]}</th>`)

                tbody.append(`
                    <td>
                        <div id=${id}>
                           -
                        </div>
                    </td>`)
            }

            entity_id_cell = $('#entity_id');
            entity_type_cell = $('#entity_type')

            return true
        }

        function clearTableCells() {
            entity_id_cell.empty()
            entity_type_cell.empty()
            for (let i=1; i<=numAttributes; i++) {
                let id = "#entity_attr" + i
                $(id).empty()
            }
        }

        function getTypeData(callback) {
            // Make API request
            $.post(apiUrls.getTypeData).done((apiResponse) => {

                // Catch errors
                if (apiResponse.status !== 'OK') {
                    console.log(`Error in query for entity types!`);
                    if (apiResponse.errorData !== undefined) {
                        console.log(apiResponse.errorData);
                    }
                    errorMessageDiv.html(`Error while getting entity types, please report to technical administrators.`)
                        .removeClass('text-error');
                    return;
                }

                console.log(apiResponse);
                console.log(`Got type data.`)

                schemes.types = []
               Object.entries(apiResponse.data).forEach((element, index) => {
                   schemes.types.push(element[0])
                   schemes.attributes[index] = []
                   schemes.placeholders[index] = []
                   Object.entries(element[1]).forEach((item) => {
                       schemes.attributes[index].push(item[0])
                       schemes.placeholders[index].push(item[1])
                   })
                })

                callback()

                return true
            })
        }

        function getNewId(callback) {

            // Make API request
            $.post(apiUrls.getNewId).done((apiResponse) => {

                // Catch errors
                if (apiResponse.status !== 'OK') {
                    console.log(`Error in query for metadata of entity with ID ${id}!`);
                    if (apiResponse.errorData !== undefined) {
                        console.log(apiResponse.errorData);
                    }
                    errorMessageDiv.html(`Error while getting metadata, please report to technical administrators.`)
                        .removeClass('text-error');
                    return;
                }

                console.log(apiResponse);
                console.log(`ID for new entity will be ${apiResponse.id}`)

                entity.id = apiResponse.id
                callback()

                return true
            })
        }

        function showId () {
            entity_id_cell.empty()
            entity_id_cell.html(`${entity.id}`)
        }

        function clearButtons() {
            buttons.empty()
        }

        function setupSaveAndCancelButtons (mode) {

            buttons.append(
                `<button type="button" id="save_button" name="Save" style="background-color: white; padding: unset">Save Metadata</button>
                 <button type="button" id="cancel_button" name="Save" style="background-color: white; padding: unset">Cancel</button>`)

            $("#save_button").on("click", function () {

                let id = entity.id
                let type
                if (mode === state.create) {
                    type = $('#entity_type_select').val()
                }
                else {
                    type = entity.type
                }
                let values = []

                for (let i=1; i<=numAttributes; i++) {
                    let id = "#entity_attr" + i + "_form"
                    values.push($(id).val())
                }

                entity.type = type
                entity.values = values

                if (mode === state.edit) {
                    saveMetadataById(id, type, values)
                }
                else {
                    createEntity(id, type, values)
                }

                clearButtons()
                setupDefaultButtons()
                showMetadata()
            })

            $("#cancel_button").on("click", function () {
                clearTableCells()
                clearData()
                clearButtons()
                setupDefaultButtons()
            })

            return true
        }

        function clearData () {
            entity = {id: 0, type: 'null', attributes: [], values: [], types: []}
        }

        function getMetadata (id, callback) {

            let apiData = {id: id}

            // Make API request
            $.post(apiUrls.getData, apiData).done((apiResponse) => {

                // Catch errors
                if (apiResponse.status !== 'OK') {
                    console.log(`Error in query for metadata of entity with ID ${id}!`);
                    if (apiResponse.errorData !== undefined) {
                        console.log(apiResponse.errorData);
                    }
                    errorMessageDiv.html(`Error while getting metadata, please report to technical administrators.`)
                        .removeClass('text-error');
                    return;
                }

                console.log(`Got metadata for entity with ID ${id}`)
                console.log(apiResponse);

                // Fill data-object with relevant data
                entity.id = apiResponse.data.id
                entity.type = apiResponse.data.type
                Object.entries(apiResponse.data.currentMetadata).forEach((value, index) => {
                    entity.values[index] = value[1]
                })
                Object.entries(apiResponse.data.metadataSchema).forEach((value, index) => {
                    entity.attributes[index] = value[0]
                    entity.types[index] = value[1]
                })

                // Store number of values
                numAttributes = entity.attributes.length
                console.log(`Entity has ${numAttributes} attributes.`)

                callback()

                return true
            })

            return false
        }

        function showMetadata () {
            clearTableCells()
            entity_id_cell.append(entity.id)
            entity_type_cell.append(entity.type)
            for (let i=1; i<=numAttributes; i++) {
                let id = "#entity_attr" + i
                $(id).append(entity.values[i-1])
            }
        }

        function saveMetadataById (id, type, values) {

            let apiData = {id: id, type: type, values: values}
            setMetadata(apiUrls.saveData, apiData)
        }

        function createEntity (id, type, values) {

            let apiData = {id: id, type: type, values: values}
            setMetadata(apiUrls.createEntity, apiData)
        }

        function setMetadata (apiUrl, apiData) {

            $.post(apiUrl, apiData).done((apiResponse) => {

                // Catch errors
                if (apiResponse.status !== 'OK') {
                    console.log(`Error in query for metadata of entity with ID ${apiData.id}!`);
                    if (apiResponse.errorData !== undefined) {
                        console.log(apiResponse.errorData);
                    }
                    errorMessageDiv.html(`Error while getting metadata, please report to technical administrators.`)
                        .removeClass('text-error');
                    return;
                }

                console.log(apiResponse);
                if (apiUrl === apiUrls.createEntity) {
                    console.log(`Created entity with ID ${apiData.id}`)
                }
                else {
                    console.log(`Saved metadata for entity with ID ${apiData.id}`)
                }
            })
        }

    </script>
{%  endblock %}
