{% extends "base.twig" %}

{% block extraJS %}
    <script type="application/javascript" src="{{baseurl}}/js/dist/MetadataEditor.bundle.js"></script>
{% endblock %}


{% block title %}Metadata Editor{% endblock %}

{% block content %}
    <div id="container"></div>

{% endblock %}

{% block finalBodyJS %}
    <script type="module">

        let mde = new MetadataEditor({
            containerSelector: "container",
            entityId: 0,
            entityType: "Type 2",
            mode: "show"
        })

    </script>
{%  endblock %}
