{% extends "base.twig" %}

{% block title %}Metadata Editor{% endblock %}

{% block content %}
    <h1>Metadata Editor</h1>
{% endblock %}

{% block finalBodyJS %}
    <script>
        import {MetadataEditor} from "../js/pages/MetadataEditor";

        let mde = new MetadataEditor()
    </script>
{%  endblock %}