{% extends "base.twig" %}

{% block extraJS %}
    <script type="application/javascript" src="{{baseurl}}/js/dist/MetadataEditor.bundle.js"></script>

    <script>
        let mde = new MetadataEditor()
    </script>
{% endblock %}


{% block title %}Metadata Editor{% endblock %}

{% block content %}
    <h1>Metadata Editor</h1>

    <table class="doctable dataTable">
        <tr>
            <th>Entity ID</th>
            <th>Type</th>
            <th>Attribute 1</th>
            <th>Attribute 2</th>
            <th>Attribute 3</th>
            <th>Attribute 4</th>
        </tr>
        <tr>
            <td>
                <div id="entity_id">
                    -
                </div>
            </td>
            <td>
                <div id="entity_type">
                    -
                </div>
            </td>
            <td>
                <div id="entity_attr1">
                    -
                </div>
            </td>
            <td>
                <div id="entity_attr2">
                    -
                </div>
            </td>
            <td>
                <div id="entity_attr3">
                    -
                </div>
            </td>
            <td>
                <div id="entity_attr4">
                    -
                </div>
            </td>
        </tr>
    </table>

    <br>

    <div id="buttons"></div>
{% endblock %}

{% block finalBodyJS %}
    <script>

        // Constant to store data in
        let data = {id: 0, type: 'null', attributes: ['string', 0, 'date', 'email']}

        // Get selectors
        let form_id = $('#entity_id');
        let form_type = $('#entity_type')
        let form_attr1 = $('#entity_attr1')
        let form_attr2 = $('#entity_attr2')
        let form_attr3 = $('#entity_attr3')
        let form_attr4 = $('#entity_attr4')
        let buttons =  $('#buttons')

        // Get api urls
        let urlGen = new ApmUrlGenerator('')

        const apiUrls = {
            getData: urlGen.apiMetadataEditorGetData(),
            saveData: urlGen.apiMetadataEditorSaveData(),
            createEntity: urlGen.apiMetadataEditorCreateEntity(),
            getNewId: urlGen.apiMetadataEditorGetIdForNewEntity()
        };

        // Button events
        setupDefaultButtons()

        function setupDefaultButtons () {

            buttons.empty().append
            (`<button type="button" id="get_button" name="Get" style="background-color: white; padding: unset">Get Metadata</button>
                <button type="button" id="edit_button" name="Edit" style="background-color: white; padding: unset">Edit Metadata</button>
                <button type="button" id="create_button" name="Create" style="background-color: white; padding: unset">Create New Entity</button><br>`)

            $("#get_button").on("click", function () {
                getMetadata(5)
            });

            $("#edit_button").on("click", function () {
                if (data.type === 'null') {
                    console.log('Editing not possible. No entity was selected.')
                }
                else {
                    setupInputForms()
                    fillInputForms()
                    setupSaveButton('edit')
                    console.log('Metadata can now be edited.')
                }
            });

            $("#create_button").on("click", function () {
                form_id.empty()
                getNewId()
                setupInputForms()
                setupSaveButton('create')
            })
        }

        function setupInputForms() {
            form_type.html(
                `<input type="text" id="entity_type_form" placeholder="string" style="padding: unset">`)
            form_attr1.html(
                `<input type="text" id="entity_attr1_form" placeholder="string" style="padding: unset">`)
            form_attr2.html(
                `<input type="text" id="entity_attr2_form" placeholder="number" style="padding: unset">`)
            form_attr3.html(
                `<input type="text" id="entity_attr3_form" placeholder="date" style="padding: unset">`)
            form_attr4.html(
                `<input type="email" id="entity_attr4_form" placeholder="email" style="padding: unset">`)
            }

        function fillInputForms() {
            $('#entity_type_form').val(data.type)
            $('#entity_attr1_form').val(data.attributes[0])
            $('#entity_attr2_form').val(data.attributes[1])
            $('#entity_attr3_form').val(data.attributes[2])
            $('#entity_attr4_form').val(data.attributes[3])
        }

        function clearTable() {
            form_id.empty()
            form_type.empty()
            form_attr1.empty()
            form_attr2.empty()
            form_attr3.empty()
            form_attr4.empty()
        }

        function getNewId() {

            // Make API request
            $.post(apiUrls.getNewId).done((apiResponse) => {

                // Catch errors
                if (apiResponse.status !== 'OK') {
                    console.log(`Error in query for metadata of entity with ID ${id}!`);
                    if (apiResponse.errorData !== undefined) {
                        console.log(apiResponse.errorData);
                    }
                    errorMessageDiv.html(`Error while getting metadata, please report to technical administrators.`)
                        .removeClass('text-error');
                    return;
                }

                console.log(apiResponse);
                console.log(`ID for new entity is ${apiResponse.id}`)

                form_id.empty()
                form_id.html(`${apiResponse.id}`)
                data.id = apiResponse.id

                return true
            })
        }

        function setupSaveButton (operation) {

            buttons.empty().append(
                `<button type="button" id="save_button" name="Save" style="background-color: white; padding: unset">Save Metadata</button>
                 <button type="button" id="cancel_button" name="Save" style="background-color: white; padding: unset">Cancel</button><br>`)

            $("#save_button").on("click", function () {

                let id = data.id
                let type = $('#entity_type_form').val()
                let attributes = [
                    $('#entity_attr1_form').val(),
                    $('#entity_attr2_form').val(),
                    $('#entity_attr3_form').val(),
                    $('#entity_attr4_form').val()]

                data = {id: id, type: type, attributes: attributes}

                if (operation === 'edit') {
                    saveMetadataById(id, type, attributes)
                }
                else {
                    createEntity(id, type, attributes)
                }

                setupDefaultButtons()
                showMetadata(data)
            })

            $("#cancel_button").on("click", function () {
                clearTable()
                clearData()
                setupDefaultButtons()
            })

            return true
        }

        function clearData () {
            data = {id: 0, type: 'null', attributes: ['string', 0, 'date', 'email']}
        }

        function getMetadata (id) {

            let apiData = {id: id}

            // Make API request
            $.post(apiUrls.getData, apiData).done((apiResponse) => {

                // Catch errors
                if (apiResponse.status !== 'OK') {
                    console.log(`Error in query for metadata of entity with ID ${id}!`);
                    if (apiResponse.errorData !== undefined) {
                        console.log(apiResponse.errorData);
                    }
                    errorMessageDiv.html(`Error while getting metadata, please report to technical administrators.`)
                        .removeClass('text-error');
                    return;
                }

                console.log(`Got metadata for entity with ID ${id}`)
                console.log(apiResponse);

                data.id = apiResponse.data.id
                data.type = apiResponse.data.type
                data.attributes = [
                    apiResponse.data.currentMetadata.attribute1,
                    apiResponse.data.currentMetadata.attribute2,
                    apiResponse.data.currentMetadata.attribute3,
                    apiResponse.data.currentMetadata.attribute4]
                clearTable()
                form_id.append(data.id)
                form_type.append(data.type)
                form_attr1.append(data.attributes[0])
                form_attr2.append(data.attributes[1])
                form_attr3.append(data.attributes[2])
                form_attr4.append(data.attributes[3])

                return true
            })

            return false
        }

        function showMetadata (data) {
            clearTable()
            form_id.append(data.id)
            form_type.append(data.type)
            form_attr1.append(data.attributes[0])
            form_attr2.append(data.attributes[1])
            form_attr3.append(data.attributes[2])
            form_attr4.append(data.attributes[3])
        }

        function saveMetadataById (id, type, attributes) {

            let apiData = {id: id, type: type, attributes: attributes}
            setMetadata(apiUrls.saveData, apiData)
            console.log(`Saved metadata for entity with ID ${id}`)

        }

        function createEntity (id, type, attributes) {

            let apiData = {id: id, type: type, attributes: attributes}
            setMetadata(apiUrls.createEntity, apiData)
            console.log(`Created entity with ID ${id}`)
        }

        function setMetadata (apiUrl, apiData) {

            $.post(apiUrl, apiData).done((apiResponse) => {

                // Catch errors
                if (apiResponse.status !== 'OK') {
                    console.log(`Error in query for metadata of entity with ID ${apiData.id}!`);
                    if (apiResponse.errorData !== undefined) {
                        console.log(apiResponse.errorData);
                    }
                    errorMessageDiv.html(`Error while getting metadata, please report to technical administrators.`)
                        .removeClass('text-error');
                    return;
                }

                console.log(apiResponse);

            })
        }

    </script>
{%  endblock %}
