{% extends "base.twig" %}

{% block extraJS %}
    <script type="application/javascript" src="{{baseurl}}/js/dist/MetadataEditor.bundle.js"></script>
{% endblock %}


{% block title %}Metadata Editor{% endblock %}

{% block content %}
    <h1>Metadata Editor</h1>

    <table class="dataTable" id="metadataTable"></table>
    <br>
    <div id="buttons"></div>
    <br>
    <div id="errorMessage"></div>
    <br>

{% endblock %}

{% block finalBodyJS %}
    <script type="module">

        let mde = new MetadataEditor()

    </script>
{%  endblock %}
