{% extends "base.twig" %}

{% block title %}People Manager{% endblock %}

{% block extraJS %}
    <script type="application/javascript" src="{{baseurl}}/js/dist/PeopleManagerPage.bundle.js"></script>
{% endblock %}


{% block finalBodyJS %}
    <script>
        $(() => {
            setupPeopleManagerPage('{{ baseurl }}')
        })
    </script>

{%  endblock %}

{% block content %}
    <h1> People Manager </h1>
    <div id="peopleEditor"></div>

{% endblock %}



