{% extends "base.twig" %}

{% block title %}People{% endblock %}

{% block extraJS %}
    <script type="application/javascript" src="{{baseurl}}/js/dist/PeoplePage.bundle.js"></script>
{% endblock %}


{% block finalBodyJS %}
    <script>
        $(() => {
            setupPeoplePage('{{ baseurl }}')
        })
    </script>

{%  endblock %}

{% block content %}
    <h1> People </h1>
    <br>
    <div id ="div_create_person" align="left"></div>
    <div id="table-spinner" align="center"></div>
    <br>
    <table id="people-table" class="table-bordered" align="center">
        <thead><tr id="people-table-head"></tr></thead>
        <tbody id="people-table-body"></tbody>
    </table>
    <br>
{% endblock %}


