{% extends "base.twig" %}

{% block title %}Person{% endblock %}

{% block extraJS %}
    <script type="application/javascript" src="{{baseurl}}/js/dist/PersonPage.bundle.js"></script>
{% endblock %}


{% block finalBodyJS %}
    <script>
      $(() => {
        let id = JSON.parse('{{id|json_encode|e('js')}}');
        if (id === 'create') {
          setupPersonPage('{{ baseurl }}', '', 'create')
        }
        else {
          setupPersonPage('{{ baseurl }}', id)
        }
      })
    </script>

{%  endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" id="nav_people"></li>
            <li class="breadcrumb-item" id="nav_person_name"></li>
        </ol>
    </nav>

    <h1 id="person-heading"></h1>
    <div id="spinner" align="center"></div>
    <div id="person-metadata-editor-container" align="center"></div>
    <br>
{% endblock %}