{% extends "base.twig" %}

{% block title %}Search{% endblock %}

{% block extraJS %}
  <script type="application/javascript" src="{{baseurl}}/js/dist/SearchPage.bundle.js"></script>
{% endblock %}


{% block finalBodyJS %}
    <script>
      $(() => {
        setupSearchPage('{{ baseurl }}')
      })
    </script>

{%  endblock %}

{% block content %}
    <h1> Search </h1>

  <br>
  <table class="docTable dataTable" id="searchTable">
    <tr>
        <th class="text-center"><span title="Choose transcriptions (T) or editions (E) as the target corpus of your search.">Corpus</span></th>
        <th><span title="Enter words to search. You can use the wildcard '*' to search for words with a specific part, like 'philosoph*', '*losophus' or '*soph*'.">Keywords</span></th>
        <th id="doc-or-edition"><span title="Choose a specific document to search">Document</span></th>
        <th id="transcriber-or-editor"><span title="Limit your search to transcriptions by a specific transcriber.">Transcriber</span></th>
        <th style="text-align: center"><span title="Number of tokens, i. e. words or punctuation marks, that are allowed to occur between your first keyword and the following ones. A value of 0 means that only the occurrence of directly consecutive keywords counts as a match.">Keyword Distance</span></th>
        <th class="text-center"><span title="If checked, all conjugated or declined forms of your keywords will count as matches.">Lemmatization</span></th>
    </tr>
    <tr>
        <td>
            <div id="corpus-select" class="text-center">
                <select name="corpus-select" id="corpus-select" style="border: 0; background-color: white; padding: unset; -webkit-appearance: none">
                <option value="transcriptions">T</option>
                <option value="editions">E</option>
            </select>
            </div>
        </td>
        <td>
            <div id="search_form">
            <label for="keywordBox"></label>
            <input type="text" id="keywordBox" placeholder="" style="padding: unset">
            </div>
        </td>
        <td>
          <div id="doc_form">
            <label for="titleBox"></label>
            <input list="titleList" id="titleBox" placeholder="" autocomplete="off" style="padding: unset">
            <datalist id="titleList">
            </datalist>
          </div>
        </td>
        <td>
          <div id="transcriber_form">
            <label for="creatorBox"></label>
            <input list="transcriberList" id="creatorBox" placeholder="" autocomplete="off" style="padding: unset">
            <datalist id="transcriberList">
            </datalist>
          </div>
        </td>
      <td style="text-align: center">
        <form>
          <label for="radiusSlider"></label>
          <input type="number" id="radiusSlider" name="radiusSlider" min="0" max="80" value="10" style="padding: unset">
        </form>
      </td>
      <td>
        <div class="text-center">
          <input type="checkbox" label="lemmatize" id="lemmatize" name="lemmatize" style="padding: unset">
        </div>
      </td>
      <td>
        <button type="button" label="Search" id="searchButton" name="Search" style="background-color: white; padding: unset">Search</button>
      </td>
    </tr>
</table>

  <div id="error_message">
  </div>

  <div id="spinner" class="text-muted" style="margin: 20px; text-align: center;">
  </div>

    <div id="noMatchesDiv">
    </div>

    <table class="doctable dataTable no-footer" id="resultsTable">
        <thead></thead>
        <tbody></tbody>
    </table>

    <p></p>

{% endblock %}



