{% extends "base.twig" %}

{% block title %}Search{% endblock %}

{% block extraCSS%}
<style>
    div#search_form {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    div#search_results {
        margin-bottom: 2rem;
        margin-left: 2rem;
    }
</style>
{% endblock%}

{% block finalBodyJS %}
    <script>
      $(() => {
        let searchBox = $("#searchBox")
        let searchResultsDiv = $("#search_results")

        // Key-Up function
        searchBox.on("keyup", () => {
          let searchText = searchBox.val()
          // send keyword to ApiSearch (via routing in index.php) and print returned result
          $.post( "{{url_for('search.keyword')}}", {searchText: searchText})
            .done( (apiResponse) => {
              console.log(apiResponse)
              if (apiResponse['results'].length === 0) {
                searchResultsDiv
                  .html(`'Nothing found for ${apiResponse['searchString']}'<br/> Server time: ${apiResponse['serverTime']}`)
                  .addClass('text-warning')
                return
              }
              else if (apiResponse['results'].length === 1) {
                // layout results
                let results = apiResponse['results'][0][0] + ': ' + apiResponse['results'][0][1] + ' (Document ID: ' + apiResponse['results'][0][2] + ')'
                // display results
                searchResultsDiv
                  .html(`${apiResponse['results'].length} result found for '${apiResponse['searchString']}': <br/> ${results} <br/>  (${apiResponse['serverTime']})`)
                  .removeClass('text-warning')
              }
              else {
                // Collect and structure results
                let results = ''
                let numResults = apiResponse['results'].length

                for (let i = 0; i < numResults; i++) {
                  results = results + apiResponse['results'][i][0] + ': ' + apiResponse['results'][i][1] + ' (Document ID: ' + apiResponse['results'][i][2] + ')<br/>'
                }

                // display results
                searchResultsDiv
                  .html(`${apiResponse['results'].length} results found for '${apiResponse['searchString']}':<br/> ${results} <br/>  (${apiResponse['serverTime']})`)
                  .removeClass('text-warning')
              }
          }).fail( (status) => {
            console.log(status)
            searchResultsDiv
              .html(`Something went wrong!`)
              .removeClass('text-error')

          })
        })
      })
    </script>
{%  endblock %}

{% block content %}
    <h1> Search </h1>
    <div id="search_form">
        <label for="searchBox">Text to search:</label> <input type="text" id="searchBox" placeholder="Enter text here" value="">
    </div>
    <div id="search_results"></div>

{% endblock %}



