{% extends "base.twig" %}

{% block title %}{{theuser.name}} | Settings {% endblock %}

{% block content %}
{% if canedit %}
<h1>Settings for {{ theuser.name }} </h1>
<p>Username: {{theuser.username}}</p>


{% endif %}
{% endblock %}
