{% extends "base.twig" %}

{% block title %}APM Log{% endblock %}

{% block extraCSS %}
    <link rel="stylesheet" type="text/css" href="{{baseurl}}/css/apmlog.css"/>
{% endblock %}

{% block extraJS %}
    <script type="application/javascript" src="{{baseurl}}/js/dist/ApmLogPage.bundle.js"></script>
{% endblock %}

{% block content %}
    <div class="content"></div>
{% endblock %}

{% block finalBodyJS %}
    <script type="module">
      $(()  => {
        new ApmLogPage()
      });
    </script>
{% endblock %}
