{% extends "base.twig" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
    <section>
        <h1>My Manuscripts / Prints </h1>
        <ul class="doclist">{{doclist|raw}}</ul>
        <a href="{{url_for('docs')}}">View all documents</a>
    </section>
    <section>
        <h1>My Chunks</h1>
        <p><i>Coming soon...</i></p>
    </section>
    <section>
        <h1>Admin</h1>
        <ul>
            <li><a href="{{url_for('user.profile', {'username' : userinfo.username})}}">Edit profile / Change Password</a></li>
        </ul>
    </section>
</div>
{% endblock %}
