{% extends "base.twig" %}

{% block title %}Not Authorized{% endblock %}

{% block content %}
<h1>Error: Not Authorized </h1>
<p>You are not authorized to change the settings for user '{{theuser}}'.</p>
{% endblock %}