{# Some useful macros #}

{% macro pageviewtable(doc, pages) %}
{% spaceless %}
    {% set pagesPerRow = 10 %}
    {% if pages|length > 200 %}
        {% set pagesPerRow = 25 %}
    {% endif %}
    {% set n=0 %}
<table class="pagetable">
    <tr>
    {% for page in pages %}
        {% if n==pagesPerRow %}
    </tr>
    <tr>
            {% set n = 0 %}    
        {% endif%}

        <td class="{{ page.classes }}"><a href="{{ path_for('pageviewer', {'doc' : doc, 'page' : page.number})}}" title="View Page">{{page.number}}</a></td>

        {% set n = n+1 %}                                   
    {% endfor %}
    </tr>    
</table>
{% endspaceless %}
{% endmacro %}