{% extends "base.twig" %}

{% block title %}Search{% endblock %}

{% block finalBodyJS %}
    <script>
      $(function() {

        // function to display text in html-paragraph
        function displayText (paragraph, text) {
          return $(paragraph).text(text)
        }

        // keyup event calls displayText function
        $("#searchField").on("keyup",function(){

          // displayText("#searchOutput", "Search Results");

          $.post( "/lukassearch", function( data ) {
            alert( "Data Loaded: " + data );
          });
        });
      })
    </script>
{%  endblock %}

{% block content %}
    <h1> Search </h1>
    <br>
<form>
    <input type="text" id="searchField" name="searchField" value="Type here...">
</form>
    <br><br>
    <p id="searchOutput">Search results will appear here....</p>
    <br><br>
{% endblock %}



