{% extends "base.twig" %}

{% block title %}Search{% endblock %}

{% block finalBodyJS %}
    <script>
      $(function() {

        // Key-Up function
        $("#searchBox").on("keyup",function(){

          // get user input
          var keyword = $(this).val();

          // send keyword to ApiSearch (via routing in index.php) and print returned result
          $.post( "{{url_for('search.keyword')}}", {keyword: keyword})
            .done(function( result ) {
            return $("#searchResult").text(result)
          });
        });
      })
    </script>
{%  endblock %}

{% block content %}
    <h1> Search </h1>
    <br>
    <form>
        <input type="text" id="searchBox" value="...">
    </form>
    <br>
    <p id="searchResult"></p>
    <br>
{% endblock %}



