{#

User manager template

#}
{% extends "base.twig" %}

{% block title %}Averroes Project : User Manager{% endblock %}

{% block content %}
<h1>User Manager</h1>
<table>
    <!-- <tr><th></th><th>Username</th><th>Full Name</th><th>Email</th><th>Actions</th></tr> -->
{% for user in users %}
    <tr> 
        <td style="padding: 10px;"><img src="https://www.gravatar.com/avatar/{{user.emailhash}}?d=mm&s=40"></td>
        <td style="padding: 10px;">{{user.username}} </td>
        <td style="padding: 10px;">{{user.fullname}} </td>
        <td style="padding: 10px;">{{user.email}}</td>
        <td>
        <a href="#">[Change Password]</a>
        <a href="#">[Make root]</a>
        </td>
    </tr>

{% endfor %}
</table>

<p>Add user: </p>
{% endblock %}