.main-text-panel {
    height: 100%;

    .panel-toolbar {
        background: #f0f0f0;
        padding: 0.5em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .toolbar-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
        }

        .center {
            justify-content: center;
        }

        .right {
            justify-content: end;
        }

        .tb-btn {
            background: transparent;
            border: none;
            cursor: pointer;
        }

        .tb-btn:hover {
            opacity: 0.8;
        }

        .tb-btn.disabled {
            opacity: 0.5;
            cursor: default;
        }

        .std-word-review-status {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;
            font-size: 0.9em;
            color: #a8a8a8;
        }
    }

    .panel-content {
        padding: 1em;
        overflow-x: auto;
    }


    p.h1 {
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        margin: 2em 0 1em 0;
    }

    p {
        text-align: justify;
        position: relative;
    }

    .main-text {
        display: grid;
        grid-template-columns: 1fr 40em 1fr;
        gap: 1em;
        width: auto;
        min-width: 52em;
        overflow-y: auto;
        min-height: 0;


        .b {
            font-weight: bold;
        }

        .i {
            font-style: italic;
        }

        .sup {
            position: relative;
            top: -0.5em;
        }

        .sub {
            position: relative;
            top: 0.5em;
        }




        .main-text-content {
            position: relative;
            line-height: 1.8rem;
        }

        .standardized-word {
            background-color: #ededed;
            border: 1px dotted var(--not-reviewed-color);
            border-radius: 0.2em;
            padding: 0.1em;
            cursor: pointer;
        }

        .standardized-word.disabled {
            cursor: default;
        }

        .accepted {
            background-color: #cfe1cf;
            border-color: var(--accepted-color);
        }

        .rejected {
            background-color: #f8d7d7;
            border-color: var(--rejected-color);
        }

        .not-reviewed {
            background-color: #d5d3d3;
            border: 1px dotted var(--not-reviewed-color);
        }


        .standardized-word-popover {
            .popover-content {
                padding: 0;
            }

            .d-flex {
                display: flex;
            }

            .gap-2 {
                gap: 0.5rem;
            }

            .p-2 {
                padding: 0.5rem;
            }
        }

        .chunk-mark {
            display: contents;

            .chunk-mark-icon {

                /*font-size: 0.7em;*/
                cursor: pointer;
                /*font-weight: bold;*/
            }

            .chunk-start {
                color: #bd0202;
            }

            .chunk-end {
                color: dodgerblue;
            }

            .chunk-mark-label {
                position: absolute;
                left: calc(100% + 1rem);
                top: auto;
                white-space: nowrap;
                font-family: monospace;
                font-weight: normal;
                color: gray;
                font-size: 0.8rem;
                line-height: 1.8rem;
            }
        }
    }
}


.main-text-panel.initializing {
    padding: 2em;
    font-size: 1.5em;
}
