

.nice-toggle {
    padding: 0.25em;
    border: 1px solid lightgrey;
    border-radius: 0.25em;
    cursor: pointer;
    font-size: 0.8em;
}

.nice-toggle.on {
    border: 1px solid gray;
    font-size: 0.9em;
}

.nice-toggle.off {
    color: gray;
}
